@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-netflix-dark text-white font-sans antialiased;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for chrome/safari/opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
